<div style='
       margin:0 auto;
       display:table;
       position: absolute;
       left: 0;
       right:0;
       top: 50%;
       -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
       -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
       transform:translateY(-50%);'
	   class="modal modals-sm"
	   data-backdrop="static" 
	   data-keyboard="false" 
	   tabindex='-1' 
	   data-focus-on="input:first" 
	   id="dateRangeModal" 
	   data-controller="DateRangeModal">
	   
	<div class="modal-dialog">
		<div class="modal-content">
	      <!-- Modal Header -->
		  <div class="modal-header basic">
			<h4 class="modal-title">Date Range</h4>
			<button type="button" class="close" data-event="DateRangeModal.click.onClose">&times;</button>
		  </div>
		  <!-- Modal body -->
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-6" style="border:1px solid #fff; padding :1%;width:100%;">
					Date From <br>
					<input type="date" data-valuectrl="dateFrom" class="form-control" />
				</div>
                <div class="col-md-6" style="border:1px solid #fff; padding :1%;width:100%;">
					Date To <br>
					<input type="date" data-valuectrl="dateTo" class="form-control" />
				</div>
			</div>
		  </div>
		  <!-- Modal footer -->
		  <div class="modal-footer">
            <button class="btn btn-primary" data-event="DateRangeModal.click.submit">Submit</button>
		  </div>
		</div>
	</div>
</div>